# dependencies
node_modules/

# environment variables
.env
.env.local
.env.production

# build output
dist/

# logs
*.log

# uploaded csv storage
storage/uploads/*

# keep uploads folder structure
!storage/uploads/.gitkeep